<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A booking has been made for your listing!, </h1>
    <p>
      To check the ebooking, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for listing and have a great day!</p>
  </body>
</html>

